.layout {
    min-height: 100vh;
}

.header {
    background-color: white !important;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.footer {
    width: 100%;
    background-color: #303030 !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.content {
    min-height: calc(100vh - 64px);
    margin-top: 4rem;
    margin-bottom: 3rem;
}